body {
	background-image: url(https://images.unsplash.com/photo-1483721310020-03333e577078?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6a437732f90bc9951d6316ee9c1a2565&auto=format&fit=crop&w=2000&q=80);
	background-size: cover;
}
h1 {
	color: black;
	font-weight: 900;
	font-size: 3.8vw;
	}

h1, p, form {
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 1px #CACDD2;
}
p {
	color: black;
	font-weight: 700;
	font-size: 1vw;
}
.item1, .item2, .item3, .item4,{
  background: rgba(202, 205, 210, 0.5);
  border: 3px solid black;
  margin: 20% 20% 25% 20%;
}
.container{
	display: flex;
	}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	margin-top: 16%;
	margin-right: 27%;
	margin-left: 20%;
	font-size: 1vw;
	font-weight: 700;
	background: rgba(202, 205, 210, 0.3);
}
